<!-- DO NOT MODIFY -->
<div class="container">
  <h1>Simple Simon Says</h1>

  <form id='get_color'>
    <input type='submit' value='submit'>
  </form>
</div>
  
<ul id="color_me">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
